body {
    margin: 0;
    background-color: bisque;
}

.search-subject-container {
    padding-top: 20px;
}

.search-subject {
    
    display: flex;
    justify-content: center;

    margin: 0;
    margin-bottom: 20px;
}

.search-subject__text {
    margin: 0;
}

.search-subject__span {
    text-transform: uppercase;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery__image {
    display: block;
    height: 200px;
    width: 300px;
}

.photo-card {
    border-radius: 20px;
    overflow: hidden;
}

.info {
    display: flex;
    justify-content: center;
    gap: 10px;

    background-color: azure;

    border-radius: 0px 0px 20px 20px;
    border-bottom: 2px solid #313131;
    border-right: 2px solid #313131;
    border-left: 2px solid #313131;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}